.form{
    align-content: center;
    width:fit-content;
    background-color: #f1f1f1;
    border: none;
    border-radius: 2px;
    margin-bottom: 12px;
    overflow: hidden;
    padding: 0 .625em;
}

.text{
    font-size: inherit;
}

.label{
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 150px;
    vertical-align: top;
}

.img{
    height:100px;
    width: 100px;
    right:100%;
    border-radius: 50%;

}
